
<div class="container-fluid">



<ul class="nav nav-pills">
  <li>
    <%= link_to "View", chef_path %>
  </li>
  <li class="active">

    <%= link_to "Edit", edit_chef_path %>
  </li>
</ul>



<%= render 'shared/page_title', title: "Edit Your Profile" %>

<%= render 'form' %>
</div>
