<div class="container-fluid">

<br>
<div class="center jumbotron">
  <h1>Food unites us all.</h1>

    <div class="text-centered">

      <p>
    <h2>
      Discover new recipes. Share your old favorites. Impress the family.
    </h2>
    </p>
    </div>

  <p>
    <%= link_to "Sign up now!", register_path, class: "btn btn-lg btn-success" %>
  </p>
</div>


<div class="row">
  <div class="col-lg-4 col-sm-4">
    <h2 class="midrow">
      View recipes as a guest
    </h2>
    <h3 class="left">
      Browse and view recipes as a guest and Sign up later.
    </h3>
    <p>
      <%= link_to "BROWSE RECIPES", recipes_path, class: "btn btn-warning btn-sm"%>
    </p>
  </div>


    <div class="col-lg-4 col-sm-4">
      <h2 class="midrow">
        Sign in to your account
      </h2>
      <h3 class="left">
        Add new recipes. Review recipes and chefs.
      </h3>
      <p>
        <%= link_to "SIGN IN", login_path, class: "btn btn-warning btn-sm"%>
      </p>
    </div>



    <div class="col-lg-4 col-sm-4">
      <h2 class="midrow">
        Add a new recipe
      </h2>
      <h3 class="left">
        Do some other stuff that you definitely want to do.
      </h3>
      <p>
        <%= link_to "OTHER STUFF", "", class: "btn btn-warning btn-sm"%>
      </p>
    </div>

</div>
</div>
