// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
//@import "bootstrap/variables";




.nav {
  padding-top: 8px;

}

.navbar-nav {
  padding-top: 6px;
  height: auto;
}

.navbar-header {
  padding-top: 4px;
  height: auto;
}


.navbar-form {
  padding-top: 8px;
  height: auto;
}

.form-group {
  padding-top: 10px;
  height: auto;
}

.form-control {
  padding-top: 5px;
  height: auto;
}
//$navbar-default-bg: #eff2f4;
//$navbar-default-border: #d5dde2;


//@brand-primary: @teal;
//@brand-success: @green;
//@brand-danger: @red;
//@brand-warning: @deep-orange;
//@brand-info: @light-blue;





//.center {
//  text-align: center;

//  }

//h1, h2, h3, h4 {
// line-height: 1;
//}

//h1 {
//  font-size: 3em;
//  letter-spacing: -2px;
//  margin-bottom: 30px;
//  text-align: center;
//}
.page_title{
  font-size: 3em;
  text-align: center;

}


h2 {
  font-size: 1.7em;
  margin-bottom: 30px;
  margin-left: 1em;
  text-align: left;
  font-weight: normal;
  color: #777;
}

.left {
  text-align: left;
  letter-spacing: 0.5px;
}
.midrow {
  text-align: left;
}

.footer{
  margin-top: 25px;
  border-top: 1px solid #d1d1d1;
  color: #777;
  padding-top: 10px;
  padding-left: 2em;
}

.chef_info{

}

.gravatar {
  border-radius: 2px;
}


.jumbotron.text-centered{
  text-align: center;
}


.well {
  background-color: #c3c3c3;
}

input, textarea, select, .uneditable-input {
  border: 1px solid #777;
  border-radius: 2px;
  width: 100%;
  margin-bottom: 15px;
  margin-top: 15px;
}

input {
  height: auto !important;
}


//.navbar {
//  padding-bottom: -1em;
//}

//hr {
//  color: #d1d1d1
//}




  //@import "bootstrap";
  //@import "bootstrap/theme";

  //body{
  //  padding-top: 6em;
  //}





//  .navbar-default .navbar-nav > .open > a,
//  .navbar-default .navbar-nav > .active > a {
//    background-image: -webkit-linear-gradient(top, darken($navbar-default-bg, 2%) 0%, $navbar-default-bg 100%);
//    background-image: -o-linear-gradient(top, darken($navbar-default-bg, 2%) 0%, $navbar-default-bg 100%);
//    background-image: linear-gradient(to bottom, darken($navbar-default-bg, 2%) 0%, $navbar-default-bg 100%);
//    background-repeat: repeat-x;
//    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFBAE6FA', endColorstr='#FFC9ECFB', GradientType=0);
//    -webkit-box-shadow: inset 0 3px 9px rgba(0, 0, 0, 0.1);
//    box-shadow: inset 0 3px 9px rgba(0, 0, 0, 0.1);
//  }


//    .navbar .navbar-default .container .container-fluid .navbar-header {
//    background-color: $navbar-default-bg;
//    border-color: $navbar-default-border;

//    }


@import "bootstrap-material-design"
