<div class="row">
    <div class="col-md-12 center">
      <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %> center">

          <%= message %>
          <a class="close" data-dismiss="alert"><strong>&#215;</strong></a>

        </div>
      <% end %>
    </div>
</div>
